.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}

.header-with-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.header-title {
  padding-inline: 1rem;
  padding-block: 1rem;
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
}

.dark-mode-switch-icon {
  font-size: xx-large;
  width: 3rem;
  border-radius: 50%;
  margin: 1.5rem 1.5rem 0 0;
  border: none;
  aspect-ratio: 1;
  background: var(--mat-sys-on-surface);
  color: var(--mat-sys-surface);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
