<div class="container">
  <div class="header">
    <span class="title">{{ photo()?.title }}</span>
    <span class="description">{{ photo()?.description }}</span>
  </div>

  <div class="photo-container">
    <img [src]="photo()?.url" alt="Photo" class="photo" />
  </div>

  <div class="buttons-container">
    <mat-icon
      *ngIf="liked(); else notLiked"
      class="photo-button"
      (click)="likeOrDislikePhoto()"
      fontIcon="bookmark_added"
      #tooltip="matTooltip"
      matTooltip="Remove from favorites"
      matTooltipPosition="above"
    ></mat-icon>

    <ng-template #notLiked>
      <mat-icon
        class="photo-button"
        (click)="likeOrDislikePhoto()"
        fontIcon="bookmark_add"
        #tooltip="matTooltip"
        matTooltip="Add to favorites"
        matTooltipPosition="above"
      ></mat-icon>
    </ng-template>

    <mat-icon
      class="photo-button"
      fontIcon="download"
      #tooltip="matTooltip"
      matTooltip="Download"
      matTooltipPosition="above"
      (click)="downloadPhoto()"
    ></mat-icon>
  </div>
</div>
