.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photo {
  width: 100%;
  aspect-ratio: 1;
  object-fit: fill;
  object-position: center;
  transition: all 0.2s ease-in-out;
}

.menu {
  z-index: 200;
  width: 100%;
  height: 4rem;
  background-color: var(--mat-sys-on-surface);
  color: var(--mat-sys-surface);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.show-photo-button,
.like-photo-button,
.info-photo-button {
  display: grid;
  place-items: center;
  width: 2rem;
  aspect-ratio: 1;
  cursor: pointer;
}
