.container,
.skeleton {
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 40rem;
  max-width: 50rem;
  min-width: 20rem;
}

.paginator {
  width: 100%;
  grid-column: 1/-1;
}
