<div class="container">
  <ng-container *ngIf="loading(); else photosTemplate">
    <ngx-skeleton-loader
      [count]="photosPerPage"
      animation="pulse"
      appearance="circle"
      class="skeleton"
      [theme]="{
        width: '15rem',
        height: '15rem',
        borderRadius: '0px',
        margin: '0px',
        backgroundColor: 'var(--shadow-light-color)',
      }"
    />
  </ng-container>

  <ng-template #photosTemplate>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile *ngFor="let photo of photos">
        <app-photo-gallery-tile [photo]="photo" />
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>

  <mat-paginator
    (page)="changedPage($event)"
    [length]="totalQuantityOfPhotos"
    [pageSize]="photosPerPage()"
    [pageSizeOptions]="[3, 6, 9, 12]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
