.container,
.skeleton {
  margin: 2rem auto 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 40rem;
  max-width: 40rem;
  min-width: 20rem;
}
.skeleton {
  opacity: 50%;
}
