.container,
.skeleton {
  margin: 1rem auto 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 40rem;
  max-width: 40rem;
  min-width: 20rem;
}
.skeleton {
  opacity: 50%;
}

.paginator {
  width: 100%;
  grid-column: 1/-1;
}
