:root {
  --primary-color: #2a182e;
  --accent-color: #f2bf27;
  --accent-dark-color: #ba921b;
  --accent-light-color: #ffe8a3;

  --warn-color: #f27052;
  --background-color: #fdf7f0;
  --text-color: #333;
  --shadow-color: #979797;
  --shadow-light-color: #cbc9c9;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
